# Editor for writing a comment.
[core]
	editor = vim
# Able to push current and tracking branch only.
[push]
	default = tracking
# User settings.
[user]
	name = tfmagician
	email = tfmagician@gmail.com
# Auto coloring.
[color]
  status = auto
  diff = auto
  branch = auto
  interactive = auto
  grep = auto
# Alias settings.
[alias]
  feature = flow feature
  hotfix = flow hotfix
  release = flow release
  branch-merged = branch --merged
  branch-no-merged = branch --no-merged
  log-with-changed-files = log --stat
  log-with-diff = log -p
  log-short = la = log --pretty=\"format:%ad %h (%an): %s\" --date=short
  log-oneline = log --pretty=oneline --decorate
  log-graph = log --graph --date=short --pretty=format:'%Cgreen%h %cd %Cblue%cn %Creset%s'
  diff-staged = diff --staged
  edit-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; vim `f`"
  add-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; git add `f`"
  push-and-track = push -u
  checkout-and-track = checkout -t  # usage: checkout-and-track [remote]/[branch]
  find-commit = "!sh -c 'git log -S$1 --pretty=oneline --abbrev-commit $0'" # usage: find-commit [file] [string]
  remote-add-and-track = "!sh -c 'git remote add origin $0 && \
                                  git push origin master && \
                                  git checkout -b tmp && \
                                  git branch -d master && \
                                  git checkout -t origin/master && \
                                  git branch -d tmp'" # usage: remote-add-and-track [url]
