[submodule ".vim/bundle/vim-ref"]
	path = .vim/bundle/vim-ref
	url = https://github.com/thinca/vim-ref.git
[submodule ".vim/bundle/vim-quickrun"]
	path = .vim/bundle/vim-quickrun
	url = https://github.com/thinca/vim-quickrun.git
